@import '../../../styles/variables.scss';
mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  .logo-toolbar {
    width: auto;
    height: 35px;
  }
}

.occupy-space {
  width: 40px;
}

mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav {
  position: fixed !important;
  height: 100vh;
  width: 70%;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

#username {
  margin-left: 30px;
  font-size: 120%;
}

.sidebar-header {
  background-color: $tertiary;
  padding: 100px 10px 10px;
  color: white;
  font-weight: 600;
}

.nav-bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

mat-icon {
  vertical-align: middle;
  margin-right: 15px;
}

a {
  text-decoration: none;
}

#github-link {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
}

.mat-nav-list {
  padding-top: 0 !important;
}

.mat-list-item {
  display: block;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 47px !important;
  padding: 5px 5px 5px 20px;
  color: gray !important;
  width: 100%;
  outline: none;
  &.active,
  &:active {
    background-color: whitesmoke;
    color: $primary;
  }
}

.content {
  padding: 56px 4px;
}
