<mat-toolbar color="primary">

  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <span class="fill-remaining-space"></span>

  <span>
    <img class="logo-toolbar" src="../assets/logo.png" alt="Eatr">
  </span>

  <span class="fill-remaining-space"></span>

  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>

<!-- Todo: If needed: fill menu with meaningful options -->
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/settings">Settings</button>
  <button mat-menu-item >Log Out</button>
</mat-menu>

<div class="content">
  <router-outlet></router-outlet>
</div>
