<mat-card class="card-link" routerLink="/recipes/{{recipe.id}}">
  <mat-card-header>
    <div mat-card-avatar class="header-image" routerLink="/user/profile/{{recipe.user}}"></div>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>{{recipe.category}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{recipe.image || '../../../assets/noimage.png'}}" onError="this.src='../../../assets/noimage.png';" alt="recipe image">
  <mat-card-content>
    <p>{{recipe.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/recipes/{{recipe.id}}">READ MORE...</button>
    <button mat-button class="button-right">SHARE</button>
  </mat-card-actions>
</mat-card>
