  @import '../../../styles/variables.scss';
  .large-image {
    height: 300px;
    object-fit: cover;
    margin-bottom: -5px !important;
    mask-image: linear-gradient(white, white, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  }

  .below-image {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 20px;
    color: #00bcd4;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-size: 140%;
    font-weight: 600;
  }

  .card.mat-card {
    margin-top: 10px;
    padding: 24px 0 0;
  }

  .mat-card-header {
    padding: 24px 24px 0;
  }

  .mat-card-image {
    padding: 0 24px;
  }

  .mat-card-content {
    padding: 0 24px;
  }

  .recipe-content {
    padding: 0;
  }

  .ingredient-container {
    @media #{$screen-not-small} {
      float: left;
      width: 49%;
      padding-left: 24px;
    }
  }

  .description-container {
    @media #{$screen-not-small} {
      float: left;
      width: 49%;
      padding-right: 24px;
    }
  }

  .steps-container {
    clear: both;
    
    h3 {
      padding: 0 24px;
    }

    .step-list {
      .step {
        padding: 10px 24px 24px;
        .step-index {
          color: gray;
          font-size: 120%;
        }
      }
      >.step:nth-child(odd) {
        background-color: whitesmoke;
      }
    }
  }

  .mat-card-actions {
    padding: 0 24px 24px !important;
  }