@import '../../styles/variables.scss';
app-recipe {
  width: 100%;
  float: left;
}

.bricks-container {
  padding-bottom: 50px;
}

.brick {
  @media #{$screen-small} {
    width: 99%;
    margin: 15px 0;
  }
  @media #{$screen-medium} {
    width: 49%;
    margin: 15px 0.5%;
  }
  @media #{$screen-large} {
    width: 32.3%;
    margin: 15px 0.5%;
  }
}

.spinner {
  margin: 150px auto 0;
}

.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  height: 56px;
  width: 56px;
}

mat-icon {
  margin: 0;
}