<h1 class="text-center">Recipes</h1>

<!--<mat-grid-list cols="2" rowHeight="fit">
  <mat-grid-tile class="grid-tile" *ngFor="let recipe of recipes">
    <app-recipe [recipe]="recipe"></app-recipe>
  </mat-grid-tile>
</mat-grid-list>
-->
<masonry>
  <masonry-brick class="brick" *ngFor="let recipe of recipes">
    <app-recipe [recipe]="recipe"></app-recipe>
  </masonry-brick>
</masonry>

<span class="fab-container">
  <button mat-fab matTooltip="Modify Groups" matTooltipPosition="left" routerLink="create">
    <mat-icon>add</mat-icon>
  </button>
</span>