<h1 class="text-center">Recipes</h1>

<!--<mat-grid-list cols="2" rowHeight="fit">
  <mat-grid-tile class="grid-tile" *ngFor="let recipe of recipes">
    <app-recipe [recipe]="recipe"></app-recipe>
  </mat-grid-tile>
</mat-grid-list>
-->
<masonry class="bricks-container">
  <masonry-brick class="brick" *ngFor="let recipe of recipes">
    <app-recipe [recipe]="recipe"></app-recipe>
  </masonry-brick>
</masonry>
<mat-spinner class="spinner" *ngIf="!loaded"></mat-spinner>

<h3 class="text-center" *ngIf="loaded">You've reached the end of the list!</h3>

<span class="fab-container">
  <button mat-fab matTooltip="Add a new recipe!" matTooltipPosition="left" routerLink="create">
    <mat-icon>add</mat-icon>
  </button>
</span>