<mat-toolbar color="primary" *ngIf="userLoggedIn()">

  <div class="toolbar-side">
    <button class="clickable first-button" mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button class="clickable" routerLink="/recipes">
      <mat-icon>restaurant</mat-icon>
    </button>
  </div>

  <span class="fill-remaining-space"></span>

  <span>
    <img class="logo-toolbar" src="../assets/logo.png" alt="Eat shit">
  </span>

  <span class="fill-remaining-space"></span>

  <div class="toolbar-side right">
    <button class="clickable" mat-icon-button routerLink="/user/profile">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button class="clickable last-button" mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <span class="occupy-space"></span>

</mat-toolbar>

<!-- Todo: If needed: fill menu with meaningful options -->
<mat-menu x-position="before" #menu="matMenu">
  <span mat-menu-item routerLink="/settings">Settings</span>
  <span mat-menu-item routerLink="/logout">Log Out</span>
</mat-menu>

<div class="content">
  <router-outlet></router-outlet>
</div>
